{% load static %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Spy Agency</title>
<link href="{% static 'main.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
<div id="wrapper">
  <header id="header">
    <div id="logo"><img src="{% static 'logo.png' %}" width="50" alt=""/></div>
    <div id="topbanner"><img src="{% static 'banner.png' %}" width="800" height="200" alt=""/></div>
  </header>
  <aside id="leftsidebar">
   <nav id="nav">
    <ul>
      {% if user.is_authenticated%}
       <li>{{user.get_username}} </li>
       <li><a href="{% url 'bulk' %}">Bulk Hits</a> </li>
       {% if user.is_boss %}
        <li><a href="{% url 'manager_register' %}">Register Manager</a> </li>
        <li><a href="{% url 'hitmam_register' %}">Register Hitman</a> </li>
        <li><a href="{% url 'listhitmendetails' %}">List Hitman</a> </li>
        <li><a href="{% url 'edithitmen' %}">Change Hitman</a> </li>
        <li><a href="{% url 'create_hits' %}">Create a Hit</a> </li>
       {% endif %}
        {% if user.is_manager  and not user.is_boss %}
        <li><a href="{% url 'create_hits' %}">Create a Hit</a> </li>
         <li><a href="{% url 'listhitmendetails' %}">List Hitman</a> </li>
       {% endif %}
       <li><a href="{% url 'logout' %}">Logout</a> </li>


      {%else%}
       <li> <a href="{% url 'login' %}" >Home</a ></li>
       <li> <a href="{% url 'register' %}" >Register</a ></li>
      {% endif %}




    </ul>
    </nav>
  </aside>
  <section id="main">
    {% block content %}
      <h1>Bienvenidos</h1>
      {% endblock content %}
  </section>
  <footer id="footer">Copyright &copy; 2022 Spy Agency</footer>
</div>
</body>
</html>